@charset "utf-8";
a {
  font: inherit;
  cursor: pointer;
}
select {
  cursor: pointer;
}
label {
  cursor: pointer;
}
button,
input[type=submit],
input[type=button],
input[type=reset] {
  cursor: pointer;
}
input[type=image] {
  cursor: pointer;
}
input[type=radio] {
  cursor: pointer;
}
input[type=checkbox] {
  cursor: pointer;
}
[hidden] {
  display: none;
}
[invisible] {
  filter: alpha(opacity=0);
  -khtml-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font: inherit;
}
