a {
  font: inherit;
  cursor: pointer;
}
select {
  cursor: pointer;
}
label {
  cursor: pointer;
}
button,
input[type=submit],
input[type=button],
input[type=reset] {
  cursor: pointer;
}
input[type=image] {
  cursor: pointer;
}
input[type=radio] {
  cursor: pointer;
}
input[type=checkbox] {
  cursor: pointer;
}
