.inline {
  display: inline-block;
  margin-right: -4px;
  text-align: left;
}
.inline-center {
  display: inline-block;
  margin-right: -4px;
  text-align: center;
}
.block {
  display: block;
}
.centered {
  margin-right: auto;
  margin-left: auto;
}
.centered-content {
  text-align: center;
}
.hidden {
  display: none;
}
.transparent {
  filter: alpha(opacity=0);
  -khtml-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
}
.invisible {
  visibility: hidden;
  filter: alpha(opacity=0);
  -khtml-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
}
.rounded {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.rounded-top {
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}
.rounded-bottom {
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}
.rounded-left {
  -webkit-border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
}
.rounded-right {
  -webkit-border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
}
.round-group .rounded {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.round-group .rounded:first-child {
  -webkit-border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
}
.round-group .rounded:last-child {
  -webkit-border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
}
.shadowed {
  -webkit-box-shadow: 0 0 5px #000000;
  -moz-box-shadow: 0 0 5px #000000;
  box-shadow: 0 0 5px #000000;
}
.shadow-pool {
  -webkit-box-shadow: -1px -1px 2px #000000, inset -1px -1px 2px, #ffffff;
  -moz-box-shadow: -1px -1px 2px #000000, inset -1px -1px 2px, #ffffff;
  box-shadow: -1px -1px 2px #000000, inset -1px -1px 2px, #ffffff;
}
.wrapped-text {
  text-wrap: wrap;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  word-wrap: break-word;
}
