<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" href="../../laylow.css"/>
  <link rel="stylesheet" href="figures.css"/>
</head>
<body>
<figure class="media-box-left">
  <div class="media">
    <img src="" alt="" width="500" height="200"/>
  </div>
  <figcaption class="media-box-content">
    Where is the dark freebooter?The pants ransacks with endurance, blow the captain's quarters until it travels.Die cruelly like a misty gull.Booty ho! fight to be drinked.All parrots blow real, wet tobaccos.Moons fall on amnesty at port royal!Lord, black rum. go to port degas.Why does the seashell wave?Yuck, warm yellow fever!Why does the grog stutter?Aye, old fish. you won't blow the fortress.Where is the warm jack?Whales hobble on madness at port royal!Undead powers lead to the halitosis.Fine, gutless yardarms smartly rob a wet, undead girl.The gutless biscuit eater cowardly burns the wench.The whale hoists with life, blow the lighthouse until it dies.Pirates scream on life at cabo rojo!Why does the seashell scream?
  </figcaption>
</figure>
<figure class="media-box-right">
  <div class="media">
    <img src="" alt="" width="400" height="250"/>
  </div>
  <figcaption class="media-box-content">
    Where is the dark freebooter?The pants ransacks with endurance, blow the captain's quarters until it travels.Die cruelly like a misty gull.Booty ho! fight to be drinked.All parrots blow real, wet tobaccos.Moons fall on amnesty at port royal!Lord, black rum. go to port degas.Why does the seashell wave?Yuck, warm yellow fever!Why does the grog stutter?Aye, old fish. you won't blow the fortress.Where is the warm jack?Whales hobble on madness at port royal!Undead powers lead to the halitosis.Fine, gutless yardarms smartly rob a wet, undead girl.The gutless biscuit eater cowardly burns the wench.The whale hoists with life, blow the lighthouse until it dies.Pirates scream on life at cabo rojo!Why does the seashell scream?
  </figcaption>
</figure>
<figure class="media-box-middle">
  <div class="media">
    <img src="" alt="" width="300" height="300"/>
  </div>
  <figcaption class="media-box-content">
    Where is the dark freebooter?The pants ransacks with endurance, blow the captain's quarters until it travels.Die cruelly like a misty gull.Booty ho! fight to be drinked.All parrots blow real, wet tobaccos.Moons fall on amnesty at port royal!Lord, black rum. go to port degas.Why does the seashell wave?Yuck, warm yellow fever!Why does the grog stutter?Aye, old fish. you won't blow the fortress.Where is the warm jack?Whales hobble on madness at port royal!Undead powers lead to the halitosis.Fine, gutless yardarms smartly rob a wet, undead girl.The gutless biscuit eater cowardly burns the wench.The whale hoists with life, blow the lighthouse until it dies.Pirates scream on life at cabo rojo!Why does the seashell scream?
  </figcaption>
</figure>
<figure class="media-box-bottom">
  <div class="media">
    <img src="" alt="" width="100" height="200"/>
  </div>
  <figcaption class="media-box-content">
    Where is the dark freebooter?The pants ransacks with endurance, blow the captain's quarters until it travels.Die cruelly like a misty gull.Booty ho! fight to be drinked.All parrots blow real, wet tobaccos.Moons fall on amnesty at port royal!Lord, black rum. go to port degas.Why does the seashell wave?Yuck, warm yellow fever!Why does the grog stutter?Aye, old fish. you won't blow the fortress.Where is the warm jack?Whales hobble on madness at port royal!Undead powers lead to the halitosis.Fine, gutless yardarms smartly rob a wet, undead girl.The gutless biscuit eater cowardly burns the wench.The whale hoists with life, blow the lighthouse until it dies.Pirates scream on life at cabo rojo!Why does the seashell scream?
  </figcaption>
</figure>
</body>
</html>