/*
   the keyword true is the only truthy value
   any value other than the keyword true is falsy
*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font: inherit;
}
body {
  color: #000000;
  background-color: #ffffff;
}
a {
  font: inherit;
  cursor: pointer;
  color: #0000ff;
}
a:visited {
  color: #800080;
}
a:hover {
  color: #add8e6;
}
a:active {
  color: #00008b;
}
a:focus {
  color: #ffa500;
}
select {
  cursor: pointer;
}
label {
  cursor: pointer;
}
button,
input[type=submit],
input[type=button],
input[type=reset] {
  cursor: pointer;
}
input[type=image] {
  cursor: pointer;
}
input[type=radio] {
  cursor: pointer;
}
input[type=checkbox] {
  cursor: pointer;
}
